<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" style="font-size: 25px; padding: 5px 10px; border: gray solid 1px;">A<span
        style="font-size: 17px;">ngular</span>M<span style="font-size: 17px;">ean</span>C<span
        style="font-size: 17px;">rud</span>|<span style="font-size: 15px;">Fullstack</span></a>
    <div class="collapse navbar-collapse d-flex justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Books List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Book Data</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
